.menu {
    background: #000;
    color: #fff;
    border-radius: 0.8em;

    &-title {
        font-size: 1.2em;
        font-weight: bold;
        padding: 1em;
    }

    hr {
        margin: 0;
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    }

    .section {
        padding: 1em;
    }
}
