.pipelines {
    --border-color: #333;
    border: 1px solid var(--border-color);

    > * {
        display: block;
        padding: 1em;
        border-bottom: 1px solid var(--border-color);

        &:hover {
            background-color: #111;
        }
    }
}
